body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    background-color: #F3E9F1;
}
.img_logo{
    margin-left: 10%;
    width: 200px;
}
.button{
    display: flex;
    margin-right: 5%;
}
.bouton{
    background: linear-gradient(120deg,#D17F3F,#8F5BFC);
    box-shadow: 0px 1px 5px black;
    border: none;
    border-radius: 10rem;
    color: white;
    padding: 18px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 800;
    margin-right: 20%;
}
h{

    position: absolute;
    top: 15%;
    left: 30%;
    color: black;
    font-size: 50px;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #343a40;
}
footer{
    background-color: #F3E9F1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
}
.resaux{
    display: flex;
    justify-content: center;
}

.fab{
    font-size: 50px;
    color: #D17F3F;
}
.contact{
display: flex;
justify-content: center;
font-size: 1.5em;
color: black;
}

/*page produit*/
h3{
    color: #fff;
    font-size: 30px;
}
.produit_title{
    font-size: 20px;
}
#produit_list{
    display: flex;
    margin: 0 6% 0 6%;
    flex-wrap: wrap;
    justify-content: center;
}
.description{
    width:350px;
}
#produit_list img{
    width: 450px;
    height: 350px;
    border-radius: 25px 25px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}
.produit-card{
    background-color: rgb(245, 225, 225);
    margin: 2%;
    border-radius: 25px 25px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
}
.produit_title{
    display: flex;
    justify-content: center;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5%;
}
.colors p{
    margin-right: 5%;
}

/*   Page Produit */

.produit{
    display: flex;
    background-color: #343a40;
}
#product-detail img{
    width: 800px;
    height: 700px;
    margin: 5%;
    border-radius: 25px 25px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
}
.description-produit{
    margin: 5%;
    background-color: #F3E9F1;
    border-radius: 25px 25px;
    padding: 4%;
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.produit_title{
    font-size: 2em;
}
.produit_description , .produit_prix{
    font-size: 1.2em;
}
span{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
span:hover{
    transform: scale(1.25)
}
.input-produit{
    display: none;
    border-radius: 25px;
}
input[type='radio']:checked + label {
    border: 4px solid rgba(255, 38, 0, 0.739);
    transform: scale(1.25)
}
#label-produit{
    border: 1px solid black;
    border-radius: 25px;
}
#color{
    display: flex;
}
.select-color{
    margin: 2%;
}
/* Page Panier*/

#mainProd{
    height: auto;
    margin: 10%;
}
.container-produits {
    display: grid; 
    grid-template-columns: auto; 
    grid-template-rows: auto; 
    grid-gap: 10px;
    grid-template-areas: 
      "container-produits"; 
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    justify-content: center;
    border: 2px solid black;
    background-color: #343a40;
  }
  .container-produits div{
      display: flex;
      justify-content: space-around;
      background-color: antiquewhite;
  }
  .container-recapitulatif{
      display: flex;
      background-color: antiquewhite;
      justify-content: space-around;
      align-items: center;
      padding: 1%;
  }
  .container-montant-total{
      display: flex;
      background-color: #F3E9F1;
      justify-content: space-around;
      align-items: center;
  }
  .btn-supprimer{
    background: linear-gradient(120deg,#D17F3F,#8F5BFC);
    box-shadow: 0px 1px 5px black;
    border: none;
    border-radius: 10rem;
    color: white;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 800;
    margin: 1%;
  }


  /*   Page formulaire */

  #formulaire-commande{
      border: 2px solid black;
      padding: 2%;
      background-color: beige;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
  }

  h4{
      background-color: chartreuse;
      text-align: center;
  }
  #formulaire{
      background-color: #F3E9F1;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
input{
    background-color: coral;
    width: 80vw;
}
textarea{
    background-color: crimson;
    width: 80vw;
}
